<div class="homepage">
  <div class="hero-container">
    <div class="hero-header">
      <h1>Sup?</h1>
      <p>
        Inspired by minimalism.
        <br>
        Inspired by https://motherfuckingwebsite.com
      </p>
    </div>

    <div class="hero-body">
      <div class="l-pri-btn-icon">
        <%= image_tag "Export-white.svg", alt: "" %>
        Download Resume
      </div>
      <div class="contact-me p-bold">
        <%= image_tag "Message.svg", alt: "" %>
        Let's talk :)
      </div>
    </div>
  </div>

  <div class="project-container">
    <h1>Products, Projects</h1>
    <div class="project-cluster">
      <%= image_tag "img-card-2.jpg", alt: "" %>
      <%= image_tag "img-card-2.jpg", alt: "" %>
    </div>
  </div>

  <div class="experience-container">
    <%# add the damn experience %>
  </div>

</div>
