// Colors
$color-primary: #8C2020;
$color-primary-variant: #731A1A;
$color-primary-transparent: rgba(140, 32, 32, 0.3);
$color-secondary: #D93232;
$color-secondary-variant: #B22929;
$color-background: #F2F2F2;
$color-white: #FFFFFF;
$color-white-transparent: rgba(255, 255, 255, 0.3);
$color-black: #0D0D0D;
$color-black-transparent: rgba(13, 13, 13, 0.3);
$color-alert: #F38904;
$color-success: #82B418;
$color-card: #D9D9D9;
$color-background-card: #EBEBEB;
