/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "projects_show";
@import "colors";
@import "typography";

body {
  background-color: $color-background;
}
//////////////////////////////////////////////////////////////////////
/// 1. Homepage
//////////////////////////////////////////////////////////////////////

.homepage {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  // padding: 0 25vw 10vh 25vw;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vw;
}

// 1.1. Hero Header
.hero-header {
  width: 592px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


// 1.2. Hero Body
.hero-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 40px;
}

.contact-me {
  color: $color-primary;
}

//////////////////////////////////////////////////////////////////////
/// 2. Project container
//////////////////////////////////////////////////////////////////////


.project-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 8px;
  padding-bottom: 10vh;
}

.project-cluster {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 25vw;
  padding-right: 25vw;
}

//////////////////////////////////////////////////////////////////////
/// 3. Experience container
//////////////////////////////////////////////////////////////////////
.experience-container {
  padding: 0 25vw 10vh 25vw;
}

.experience-cluster {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.experience-card {
  background-color: $color-background-card;
  padding: 12px 36px;
}

.experience-card-header {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience-card-header .p-bold, p{
  margin: 0;
}

.experience-card-body {
  display: flex;
  flex-direction: column;
  padding: 1vh 0;
}

.experience-card-body li {
  text-align: left;
  font-size: 11px;
  padding-left: 12px;
}

ul {
  padding-left: 12px;
}

// Footer

footer {
  border-top: 3px solid $color-primary;
  background-color: $color-card;
  padding: 40px 10vw 5vh 10vw; // Applies to .copyright also
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.portfolio-footer {
  display: flex;
  gap: 32px;
}

.contact-footer {
  max-width: 30vw;
}

.contact-footer p {
  margin-bottom: 16px;
}

.email-signup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.copyright {
  padding: 40px 10vw 2vh 10vw;
  background-color: $color-card;
  color: $color-black-transparent;
}

/* Atoms */
.l-pri-btn-icon {
  position: relative;
  margin: 0 auto;
  width: 245px;
  height: 40px;
  background-color: $color-primary;
  color: $color-white;
  border: 2px solid transparent;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 12px;

  // .default-icon,
  // .hover-icon {
  //   position: absolute;
  //   left: 40px;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   width: 20px;
  //   height: 20px;
  // }

  // .hover-icon {
  //   display: none;
  // }

  // &:hover {
  //   background-color: $color-white;
  //   border: 2px solid $color-primary;
  //   color: $color-primary;
  // }

  // &:hover .default-icon {
  //   display: none;
  // }

  // &:hover .hover-icon {
  //   display: block;
  // }

}


.s-pri-btn-solid {
  background-color: $color-primary;
  color: $color-white;
  border: 1px solid $color-primary;
  padding: 0 24px;
  border-radius: 8px;
  font-weight: bold;
  height: 40px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-pri-btn-solid:hover {
  background-color: $color-white;
  color: $color-primary;
  border: 2px solid $color-primary;
}

.form-field-m {
  border: 2px solid $color-primary;
  background-color: $color-white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 45px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: $color-primary-transparent;
  cursor: pointer;
}

.form-field-m input {
  border: none;
  background: $color-white;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  width: 100%;
  outline: none;
  padding-left: 16px;
}
